<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @channel.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @channel.logo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @channel.url %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
