<%= form_with(model: fixture, local: true) do |form| %>
  <% if fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% fixture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :round_id %>
    <%= form.collection_select :round_id, Round.order("sequence asc"), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= form.label :session_id %>
    <%= form.collection_select :session_id, Session.order("sequence ASC"), :id, 
          :format_time %>
  </div>

  <div class="form-group">
    <%= form.label :home_id %>
    <%= form.collection_select :home_id, Team.order("name ASC"), :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :away_id %>
    <%= form.collection_select :away_id, Team.order("name ASC"), :id, :name %>
  </div>

    <div class="field">
    <%= form.label :channel_id %>
    <%= form.collection_select :channel_id, Channel.order("number asc"), :id, :name %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
